<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field required review-field-oddoreven">
    <div class="control review-control-vote">
        <!--        ko foreach: $col.getLabel($row())-->
        <!--        ko if: $data == "even"-->

        <!--        <span style="color: rgb(235,82,2);">Even</span>-->
        <span class="grid-severity-notice">Suscess</span>    <!--Chan-->
        <!--        /ko-->
        <!--         ko if: $data == "odd"-->
        <!--        <span style="color: rgb(1,253,80);">Odd</span>-->
        <span class="grid-severity-minor">Error</span>     <!--Le-->
        <!--            /ko-->
        <!--            /ko    -->
    </div>
</div>
