<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field required review-field-validinvalid">
    <div class="control review-control-vote">
        <!-- ko foreach: $col.getLabel($row()) -->
        <!-- ko if: $data == "1" -->
        <span class="grid-severity-notice">Valid</span>
        <!-- /ko -->
        <!-- ko if: $data == "0" -->
        <span class="grid-severity-minor">Invalid</span>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
