<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_returnshield">
        <observer name="namcong_returnshield_flush_section_caches"
                  instance="NamCong\ReturnShield\Observer\FlushSectionCaches"/>
    </event>
</config>
