<?xml version="1.0"?>
<!--
/**
 * Copyright © Nam Cong, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Change_Product_Image_In_MiniCart" type="Magenest\Test3\Plugin\AddToCart" sortOrder="1" disabled="false"/>
    </type>
</config>
