<?xml version="1.0"?>
<!--
/**
 * Copyright © NamCong, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magezon_Deliverydate::delivery_date"
            title="Configuration Delivery Date"
            module="Magezon_Deliverydate"
            sortOrder="11"
            parent="SmartOSC_CustomUI::film"
            action="adminhtml/system_config/edit/section/delivery_date"
            resource="Magezon_Deliverydate::delivery_date"/>
    </menu>
</config>
