<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="integration_customers" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Magento Integration Configuration</label>
            <tab>general</tab>
            <resource>SmartOSC_MagentoIntegration::configuration</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="base_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base Url</label>
                    <comment>Enter URL website. We strongly recommend using https:// (Exp: https://smartosc.local.com/).</comment>
                </field>
                <field id="access_token" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                    <comment>Access Token of website Integration</comment>
                </field>
            </group>
        </section>
    </system>
</config>
