<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shopee_integration_accounts_listing_data_source" xsi:type="string">SmartOSC\ShopeeIntegration\Model\ResourceModel\Movie\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SmartOSC\ShopeeIntegration\Model\ResourceModel\Movie\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">shopee_integration_accounts</argument>
            <argument name="resourceModel" xsi:type="string">SmartOSC\ShopeeIntegration\Model\ResourceModel\Accounts</argument>
        </arguments>
    </virtualType>
</config>
