<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="NamCong_ReturnShield::returnshield" title="ReturnShield" sortOrder="70">
                        <resource id="NamCong_ReturnShield::dashboard" title="Return Risk Dashboard" sortOrder="10"/>
                        <resource id="NamCong_ReturnShield::config" title="ReturnShield Configuration" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
