<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="gein_quiz" id="gein_quiz">
            <module before="Magento_Backend" name="Gein_Quiz"/>
        </route>
    </router>
</config>
