<?xml version="1.0"?>
<!--
/**
 * Copyright © NamCong, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Levince_PricingPack::Levince"
            title="Levince"
            translate="title"
            module="Levince_PricingPack"
            sortOrder="1"
            resource="Levince_PricingPack::Levince"/>
        <add
            id="Levince_PricingPack::pricing_pack"
            title="Pricing Pack"
            translate="title"
            module="Levince_PricingPack"
            sortOrder="1"
            action="adminhtml/system_config/edit/section/levince_pricing_pack"
            parent="Levince_PricingPack::Levince"
            resource="Levince_PricingPack::pricing_pack"/>
    </menu>
</config>
